body, html {
    margin: 0;
    padding: 0;
}

.header {
    margin: 0;
    padding: 10pt;
    padding-bottom: 0;

    height: 100pt;
    line-height: 100pt;
}
.header-container {
    height: 100%;
    width: 65%;

    margin-left: auto;
    margin-right: auto; 
    padding-bottom: 30pt;
    border-bottom : 5px solid #4fb0b0;   
}

.header-container > h1 {
    width: 25%;
    float: left;
    
    height: 40pt;
}

.button-container {
    margin-top: 30pt;
    padding: 0;
    float:right; 
    height: 100%;
}
 
 .logo-container {
    height:100%;
    width: 20%;
    float:left;
    margin :0;
    padding:0;
}

#Logo {
    height: 100%;
}
    
.btn-outline-info {
    margin-left:20pt;
    float: right;
}

h1, p {
    margin: 0;
    padding: 0;
}


.home {
    height:500pt;
    margin-top: 25pt;
    margin-bottom: 65pt;
}

#theme {
    height: 100%;

    display: block;

    margin-left: auto;
    margin-right: auto;
}

.banner {
    margin: 0;
    padding: 10pt;
    padding-bottom: 0;
    height: 320pt;
}

.banner-container {
    height: 100%;
    width: 65%;
   
    margin-left: auto;
    margin-right: auto;
    
}
.banner-text {
    height: 25%;
    
    text-align: left;
}

.banner-left {
    float: left;  
    height: 100%;
    width: 40%;
    
}

.banner-right {
    float: left;  
    height: 100%;
    width: 60%;
    
}

.point {
    float : left;
}

#feature {
    height: 100%;

    display: block;

    margin-left: auto;
    margin-right: auto;
}

.guest {
    margin: 40pt;
    padding: 10pt;
    padding-bottom: 0;
    height: 320pt;
}

.guest-container {
    height : 100%;
    width : 65%; 
    margin-left: auto;
    margin-right: auto;  
}

.guest-container-left {
    height :100%;
    width: 45%;
    float :left;
    padding:30pt;
}

.guest-container-right {
    height :100%;
    width: 45%;
    float :right;
    padding:30pt;
}

#guest-upload,#guest-camera {
    width: 100%;
    display: block;
    
    margin-left: auto;
    margin-right: auto;
}

.guest-button {
    max-width: 30%;
    padding: 20pt;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
